---
import { pocketbase } from '$constants/pocketbase'
import Base from '$layouts/base.astro'

const eventId = Astro.params['eventId']!

const event = await pocketbase.collection('events').getOne(eventId)
---

<Base>
  <div class="max-w-screen-lg mx-auto my-4">
    <h1>Event: {event.name}</h1>
  </div>
</Base>
